<!DOCTYPE html>
<html ng-app="ShoppingListCheckOff">
  <head>
    <meta charset="utf-8">
    <title>The Shopping List CheckOff App</title>

    <link rel="stylesheet" href="style.css">

  </head>
  <body>
    <div id="list1" ng-controller="ToBuyController as buyCtrl">
      <h1>To Buy</h1>
      <ul>
        <li ng-repeat="item in buyCtrl.itemsToBuy">
          Buy {{item.quantity}} {{item.name}}

          <button ng-click="buyCtrl.removeItem($index);">Bought</button>
        </li>
      </ul>
      <div ng-if="buyCtrl.itemsToBuy.length == 0">
        Everything is bought!
      </div>
    </div>

    <div id="list2" ng-controller="AlreadyBoughtController as boughtCtrl">
      <h1>Already Bought</h1>

      <div ng-if="boughtCtrl.boughtItems.length == 0">
        Nothing bought yet
      </div>

      <ul>
        <li ng-repeat="item in boughtCtrl.boughtItems">
          Bought {{item.quantity}} {{item.name}}
        </li>
      </ul>
    </div>

  <script src="angular.min.js"></script>
  </body>
  <script src="app.js"></script>
</html>
